<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedicalClinicApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-flex">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.Claims.First(x => x.Type == "Role").Value != "4")
                        {
                            <a class="image-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMainMenu" aria-controls="offcanvasMainMenu">
                                <img src="~/assets/menu-bar.png" />
                            </a>
                        }
                    }
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Медицинский центр</a>
                        </li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="image-button" type="button" style="margin-left: auto;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasProfile" aria-controls="offcanvasProfile">
                            <img src="~/assets/profile-noimage.png" />
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-outline-primary" style="margin-left: auto;" asp-controller="Account" asp-action="Auth">Войти</a>
                        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Register">Создать аккаунт</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMainMenu" aria-labelledby="offcanvasMainMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasMainMenuLabel">MedicalClinicApp</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                @if (User.Identity.IsAuthenticated)
                {
                    @switch (User.Claims.First(x => x.Type == "Role").Value)
                    {
                        case "1":
                            <li class="nav-item">
                                <a class="nav-link text-dark menu-link" asp-controller="Patients" asp-action="Index">Пациенты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark menu-link" asp-controller="Employees" asp-action="Index">Работники</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark menu-link" asp-controller="Posts" asp-action="Index">Должности</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark menu-link" asp-controller="DoctorSchedules" asp-action="Index">Расписание сотрудников</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark menu-link" asp-controller="Appointments" asp-action="Index">Запись на прием</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark menu-link" asp-controller="MedicalHistory" asp-action="Index">История болезней</a>
                            </li>
                            break;
                        case "2":
                            <li class="nav-item">
                                <a class="nav-link text-dark menu-link" asp-controller="Appointments" asp-action="Index">Запись на прием</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark menu-link" asp-controller="MedicalHistory" asp-action="Index">История болезней</a>
                            </li>
                            break;
                        case "3":
                            <li class="nav-item">
                                <a class="nav-link text-dark menu-link" asp-controller="Appointments" asp-action="Index">Запись на прием</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark menu-link" asp-controller="MedicalHistory" asp-action="Index">История болезней</a>
                            </li>
                            break;
                    }
                }
            </ul>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasProfile" aria-labelledby="offcanvasProfileLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasProfileLabel">@User.Claims.First(x => x.Type == "Email").Value</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        @if (User.Claims.First(x => x.Type == "Role").Value == "2")
                        {
                            <a class="nav-link text-dark menu-link" asp-controller="Account" asp-action="EmployeeProfile">Профиль</a>
                        }

                        @if (User.Claims.First(x => x.Type == "Role").Value == "3" || User.Claims.First(x => x.Type == "Role").Value == "4")
                        {
                            <a class="nav-link text-dark menu-link" asp-controller="Account" asp-action="PatientProfile">Профиль</a>
                        }

                        <a class="nav-link text-dark menu-link" asp-controller="Account" asp-action="Logout">Выход</a>
                    </li>
                </ul>
            </div>
        </div>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/plugins/jquery.maskedinput.js"></script>
    <script type="text/javascript">
        $("#phoneNumberInput").mask("+375(99)999-99-99");
        $("#dateOfBirthInput").mask("99.99.9999");
        $("#appointmentDate").mask("99.99.9999");
        $("#timeInput1").mask("99:99");
        $("#timeInput2").mask("99:99");
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>