@using MedicalClinicApp.Models.ViewModels
@model MedicalClinicApp.Models.ViewModels.TimeSlotSelectionViewModel

<div class="row mb-3">
    <div class="col-auto me-auto">
        <h2>Выбор времени приема</h2>
        <div class="form-text"><i>*</i> - обязательные поля</div>
    </div>
    <div class="col-auto">
        <a asp-controller="Appointments" asp-action="SelectADoctor">Вернуться назад</a>
    </div>
</div>

<form asp-action="SelectSlot" asp-controller="Appointments" method="post" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <input type="hidden" asp-for="EmployeeId" />
        <input type="hidden" asp-for="PatientId" />
        <div class="mb-3">
            <label asp-for="SelectedSlot" class="form-label">Врач<i>*</i></label>
            <select asp-for="SelectedSlot" class="form-control form-control-sm" required>
                <option value="">Выберите время приема</option>
                @foreach (TimeSlotViewModel item in ViewBag.TimeSlots)
                {
                    <option value="@item.DateTime">@item.DateTime.ToString("dd.MM.yyyy hh:mm")</option>
                }
            </select>
            <span class="badge bg-danger" asp-validation-for="SelectedSlot"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Выбрать" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>