@model MedicalClinicApp.Models.ViewModels.PatientProfileViewModel

<div class="card mb-4">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-auto me-auto">
                <h2>Профиль</h2>
                <div class="form-text"><i>*</i> - обязательные поля</div>
            </div>
        </div>

        <form asp-action="PatientProfile" asp-controller="Account" method="post" enctype="multipart/form-data">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <input type="hidden" asp-for="PatientId" />
                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label">Имя<i>*</i></label>
                    <input type="text" asp-for="FirstName" class="form-control form-control-sm" required />
                    <span class="badge bg-danger" asp-validation-for="FirstName"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SecondName" class="form-label">Отчество</label>
                    <input type="text" asp-for="SecondName" class="form-control form-control-sm" />
                </div>
                <div class="mb-3">
                    <label asp-for="LastName" class="form-label">Фамилия<i>*</i></label>
                    <input type="text" asp-for="LastName" class="form-control form-control-sm" required />
                    <span class="badge bg-danger" asp-validation-for="LastName"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label">Телефон<i>*</i></label>
                    <input type="text" asp-for="PhoneNumber" class="form-control form-control-sm" aria-describedby="phoneNumberNotify" placeholder="+375(__)___-__-__" id="phoneNumberInput" required />
                    <div id="phoneNumberNotify" class="form-text">Коды операторов: 25, 29, 33, 44</div>
                    <span class="badge bg-danger" asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DateOfBirth" class="form-label">Дата рождения<i>*</i></label>
                    <input type="text" asp-for="DateOfBirth" class="form-control form-control-sm" placeholder="дд.мм.гггг" id="dateOfBirthInput" required />
                    <span class="badge bg-danger" asp-validation-for="DateOfBirth"></span>
                </div>
                <div class="mb-3">
                    <input class="form-check-input" type="radio" asp-for="Gender" id="genderM" value="true">
                    <label class="form-check-label" for="genderM">Мужчина</label>
                    <input class="form-check-input" type="radio" asp-for="Gender" id="genderF" value="false">
                    <label class="form-check-label" for="genderF">Женщина</label>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
                </div>
            </div>
        </form>
    </div>
</div>